<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>UIB - United International Business</title>
    <meta name="description" content="UIB Swiss - United International Business GmbH">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/default-icons.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/odometer.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/tg-cursor.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <!--Preloader-->
    <div id="preloader">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon"><img src="assets/img/logo/preloader.svg" alt="Preloader"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="renova-up-arrow"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <div class="tg-header__top">
            <div class="container custom-container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="tg-header__top-menu">
                            <ul class="list-wrap">
                                <li><a href="contact.html">info@uibswiss.ch</a></li>
                                <li><a href="contact.html">+1 234 56789</a></li>
                           
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="tg-header__top-social">
                            <ul class="list-wrap">
                                <li><a href="https://www.facebook.com/" target="_blank">FB</a></li>
                                <li><a href="https://twitter.com/home" target="_blank">TW</a></li>
                                <li><a href="https://www.linkedin.com/" target="_blank">LI</a></li>
                                <li><a href="https://www.instagram.com/" target="_blank">IN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-fixed-height"></div>
        <div id="sticky-header" class="tg-header__area">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="tgmenu__wrap">
                            <nav class="tgmenu__nav">
                                <div class="offCanvas-toggle">
                                    <a href="javascript:void(0)" class="menu-tigger">
                                        <img src="assets/img/icons/bar_icon.svg" alt="" class="injectable">
                                    </a>
                                </div>
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/uib-logo-title.svg" alt="Logo"></a>
                                </div>
                                <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-xl-flex">
                                    <ul class="navigation">
                                        
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="project.html">Projects</a></li>
                                        <li><a href="blog.html">News</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        
                                    </ul>
                                </div>


                                <div class=" tgmenu__navbar-wrap tgmenu__main-menu">
                                    <ul class="list-wrap navigation">
                                       

                                        <li class="menu-item-has-children"><a href="#" class="btn-lang">EN</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">En</a></li>
                                                <li><a href="#">AR</a></li>
                                            </ul>
                                        </li>
                                        <li class="header-btn get-in-touch">
                                            <a href="contact.html" class="btn border-btn">Get In Touch</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                



                                <div class="mobile-nav-toggler"><i class="tg-flaticon-menu-1"></i></div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="tgmobile__menu">
            <nav class="tgmobile__menu-box">
                <div class="close-btn"><i class="tg-flaticon-close-1"></i></div>
                <div class="nav-logo">
                    <a href="index.html"><img src="assets/img/logo/uib-logo-title.svg" alt="Logo"></a>
                </div>
                <div class="tgmobile__search">
                    <form action="#">
                        <input type="text" placeholder="Search here...">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="tgmobile__menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
                <div class="social-links">
                    <ul class="list-wrap">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="tgmobile__menu-backdrop"></div>
        <!-- End Mobile Menu -->

        <!-- header-search -->
        <div class="search__popup">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="search__wrapper">
                            <div class="search__close">
                                <button type="button" class="search-close-btn">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="search__form">
                                <form action="#">
                                    <div class="search__input">
                                        <input class="search-input-field" type="text" placeholder="Type keywords here">
                                        <span class="search-focus-border"></span>
                                        <button>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.55 18.1C14.272 18.1 18.1 14.272 18.1 9.55C18.1 4.82797 14.272 1 9.55 1C4.82797 1 1 4.82797 1 9.55C1 14.272 4.82797 18.1 9.55 18.1Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M19.0002 19.0002L17.2002 17.2002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-popup-overlay"></div>
        <!-- header-search-end -->

        <!-- offCanvas-menu -->
        <div class="offCanvas__info">
            <div class="offCanvas__close-icon menu-close">
                <button><i class="far fa-window-close"></i></button>
            </div>
            <div class="offCanvas__logo mb-30">
                <a href="index.html"><img src="assets/img/logo/uib-logo-title.svg" alt="Logo"></a>
            </div>
            <div class="offCanvas__side-info mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>Swissra, <br> Geneva</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>+1 1234 567</p>
                    <p>+1 1234 567</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p>info@uibswiss.ch</p>
                    <p>Wissam@uibswiss.ch</p>
                </div>
            </div>
            <div class="offCanvas__social-icon mt-30">
                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="offCanvas__overly"></div>
        <!-- offCanvas-menu-end -->

    </header>
    <!-- header-area-end -->



    <!-- main-area -->
    <main class="main-area fix">

       <!-- slider-area -->
       <section class="slider__area-two">
        <div class="swiper slider-active-two">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider__bg-two" data-background="assets/img/slider/slider-1.jpg">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-xl-7 col-lg-7">
                                <div class="slider__content-two">
                                    <span class="sub-title">We're Working Since 2016 in the this Field</span>
                                    <h2 class="title">We help Entrepreneurse Get Ready To Raise Capital</h2>
                                    <div class="slider__btn">
                                        <a href="services.html" class="btn btn-two">View Our Services <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                                        <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="btn popup-video">Contact Us Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__shape" data-background="assets/img/slider/slider_shape.png"></div>
                </div>
                <div class="swiper-slide slider__bg-two" data-background="assets/img/slider/slider-2.jpg">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-xl-7 col-lg-7">
                                <div class="slider__content-two">
                                    <span class="sub-title">We're Working Since 2016 in the this Field</span>
                                    <h2 class="title">We help Entrepreneurse Get Ready To Raise Capital</h2>
                                    <div class="slider__btn">
                                        <a href="services.html" class="btn btn-two">View Our Services <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                                        <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="btn popup-video">Contact Us Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__shape" data-background="assets/img/slider/slider_shape.png"></div>
                </div>
                
                
            </div>
            <div class="slider__nav">
                <button class="slider-button-prev"><img src="assets/img/icons/long_left_arrow.svg" alt="" class="injectable"></button>
                <button class="slider-button-next"><img src="assets/img/icons/long_right_arrow.svg" alt="" class="injectable"></button>
            </div>
        </div>
       </section>
       <!-- slider-area-end -->


       <!-- about-area -->
                <section class="about__area section-pb-120 section-py-120">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 col-md-9">
                                <div class="about__img-wrap wow img-custom-anim-left animated"  data-wow-duration="1.5s" data-wow-delay="0.1s">
                                    <img src="assets/img/images/aboutus.jpg" alt="img">
                                    <div class="about__img-content">
                                        <h4 class="title">Let’s work together</h4>
                                        <a href="contact.html" class="btn">Contact Us <img src="assets/img/icons/right_arrow.svg" alt="" class="injectable"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="about__content">
                                    <div class="section__title mb-20">
                                        <h2 class="title">UIB SWISS GMBH FOUNDED IN SWITZERLAND, TG IN 2016</h2>
                                        <h4 class="number">01</h4>
                                    </div>
                                    <p>
                                        our company was founded on the idea of helping those doing business between China, Middle East, and EU. Since our company was established, we have endeavored to provide your company with the services necessary for your business to succeed internationally. We advise and support global companies that are leaders in their industries.
                                        In UIB SWISS GmbH we counsel our clients on their key strategic issues, leveraging our deep industry expertise and using analytical rigor to help them make informed decisions more quickly and solve their toughest and most critical business problems.


                                    </p>
                                    <div class="about__content-bottom about__content-bottom-two">
                                        <div class="about__customer-box">
                                          
                                            <h4 class="title">Know Us More</h4>
                                        </div>
                                        <a href="about.html" class="btn btn-two">Learn More<img src="assets/img/icons/right_arrow.svg" alt="" class="injectable"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
   <!-- about-area-end -->
   <!-- brand-area -->
   <section class="brand__area section-py-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8">
                <div class="section__title section__title-three mb-60">
                    <span class="sub-title">Brands We Work For</span>
                    <h2 class="title">We have a lot of work for companies</h2>
                </div>
            </div>
        </div>
        <div class="swiper brand-active">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brand__item">
                        <img src="assets/img/brand/brand_img01.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item">
                        <img src="assets/img/brand/brand_img02.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item">
                        <img src="assets/img/brand/brand_img03.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item">
                        <img src="assets/img/brand/brand_img04.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item">
                        <img src="assets/img/brand/brand_img05.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item">
                        <img src="assets/img/brand/brand_img06.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item">
                        <img src="assets/img/brand/brand_img03.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- brand-area-end -->
        <!-- cta-area -->
        <section class="cta__area cta__area-two fix">
            <div class="cta__bg" data-background="assets/img/bg/cta_bg.jpg"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="cta__content-two">
                            <h2 class="title">We provide all the information for making the right decisions in business.</h2>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="cta__btn">
                            <a href="contact.html" class="btn btn-two">View Our Services <img src="assets/img/icons/right_arrow.svg" alt="" class="injectable"></a>
                            <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="btn transparent-btn popup-video">contact us now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cta__shape">
                <img src="assets/img/images/cta_shape.png" alt="shape" data-aos="fade-down-left" data-aos-delay="400">
            </div>
        </section>
        <!-- cta-area-end -->

<!-- services-area -->
<section class="services__area section-pt-120 section-pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section__title mb-60">
                    <h2 class="title">Exceptional Consulting services and insight from the start.</h2>
                    <h1 class="number">02</h1>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="section__title view-service-btn mb-60">
                    <a href="contact.html" class="btn btn-two">View Our Services <img src="assets/img/icons/right_arrow.svg" alt="" class="injectable"></a>
                </div>

            </div>
           
        </div>
        <div class="row-custom">
            <div class="col-custom active">
                <div class="services__item">
                    <div class="services__arrow">
                        <i class="renova-top-right"></i>
                    </div>
                    <div class="services__content">
                        <h4 class="title">Business Consulting</h4>
                        <div class="services__icon">
                            <i class="renova-flag"></i>
                        </div>
                    </div>
                </div>
                <div class="services__item-hidden">
                    <div class="services__thumb">
                        <a href="services-details.html"><img src="assets/img/services/services_img01.jpg" alt="img"></a>
                    </div>
                    <div class="services__content-hidden">
                        <h2 class="title"><a href="services-details.html">Business Consulting</a></h2>
                        <p>We offers substantial construction experience, competitive pricing, financial strength, integrity and a commitment to your project that is supported by a foundation of quality and workplace safety.</p>
                        <div class="services__btn">
                            <a href="services-details.html" class="btn">Learn More <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-custom">
                <div class="services__item">
                    <div class="services__arrow">
                        <i class="renova-top-right"></i>
                    </div>
                    <div class="services__content">
                        <h4 class="title">Demining Consulting</h4>
                        <div class="services__icon">
                            <i class="renova-idea"></i>
                        </div>
                    </div>
                </div>
                <div class="services__item-hidden">
                    <div class="services__thumb">
                        <a href="services-details.html"><img src="assets/img/services/services_img02.jpg" alt="img"></a>
                    </div>
                    <div class="services__content-hidden">
                        <h2 class="title"><a href="services-details.html">Demining Consulting</a></h2>
                        <p>We offers substantial construction experience, competitive pricing, financial strength, integrity and a commitment to your project that is supported by a foundation of quality and workplace safety.</p>
                        <div class="services__btn">
                            <a href="services-details.html" class="btn">Learn More <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-custom">
                <div class="services__item">
                    <div class="services__arrow">
                        <i class="renova-top-right"></i>
                    </div>
                    <div class="services__content">
                        <h4 class="title">Security Consulting</h4>
                        <div class="services__icon">
                            <i class="renova-thumb-screw"></i>
                        </div>
                    </div>
                </div>
                <div class="services__item-hidden">
                    <div class="services__thumb">
                        <a href="services-details.html"><img src="assets/img/services/services_img03.jpg" alt="img"></a>
                    </div>
                    <div class="services__content-hidden">
                        <h2 class="title"><a href="services-details.html">Security Consulting</a></h2>
                        <p>We offers substantial construction experience, competitive pricing, financial strength, integrity and a commitment to your project that is supported by a foundation of quality and workplace safety.</p>
                        <div class="services__btn">
                            <a href="services-details.html" class="btn">Learn More <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-custom">
                <div class="services__item">
                    <div class="services__arrow">
                        <i class="renova-top-right"></i>
                    </div>
                    <div class="services__content">
                        <h4 class="title">Energy & Oil Consulting</h4>
                        <div class="services__icon">
                            <i class="renova-brick"></i>
                        </div>
                    </div>
                </div>
                <div class="services__item-hidden">
                    <div class="services__thumb">
                        <a href="services-details.html"><img src="assets/img/services/services_img04.jpg" alt="img"></a>
                    </div>
                    <div class="services__content-hidden">
                        <h2 class="title"><a href="services-details.html">Energy & Oil Consulting</a></h2>
                        <p>We offers substantial construction experience, competitive pricing, financial strength, integrity and a commitment to your project that is supported by a foundation of quality and workplace safety.</p>
                        <div class="services__btn">
                            <a href="services-details.html" class="btn">Learn More <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-custom">
                <div class="services__item">
                    <div class="services__arrow">
                        <i class="renova-top-right"></i>
                    </div>
                    <div class="services__content">
                        <h4 class="title">Project Managment 
                            </h4>
                        <div class="services__icon">
                            <i class="renova-brick"></i>
                        </div>
                    </div>
                </div>
                <div class="services__item-hidden">
                    <div class="services__thumb">
                        <a href="services-details.html"><img src="assets/img/services/services_img04.jpg" alt="img"></a>
                    </div>
                    <div class="services__content-hidden">
                        <h2 class="title"><a href="services-details.html">Project Managment</a></h2>
                        <p>We offers substantial construction experience, competitive pricing, financial strength, integrity and a commitment to your project that is supported by a foundation of quality and workplace safety.</p>
                        <div class="services__btn">
                            <a href="services-details.html" class="btn">Learn More <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-custom">
                <div class="services__item">
                    <div class="services__arrow">
                        <i class="renova-top-right"></i>
                    </div>
                    <div class="services__content">
                        <h4 class="title">Transport & Logistics Consulting</h4>
                        <div class="services__icon">
                            <i class="renova-brick"></i>
                        </div>
                    </div>
                </div>
                <div class="services__item-hidden">
                    <div class="services__thumb">
                        <a href="services-details.html"><img src="assets/img/services/services_img04.jpg" alt="img"></a>
                    </div>
                    <div class="services__content-hidden">
                        <h2 class="title"><a href="services-details.html">Transport & Logistics Consulting</a></h2>
                        <p>We offers substantial construction experience, competitive pricing, financial strength, integrity and a commitment to your project that is supported by a foundation of quality and workplace safety.</p>
                        <div class="services__btn">
                            <a href="services-details.html" class="btn">Learn More <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-area-end -->

 <!-- project-area -->
 <section class="project__area project__bg" data-background="assets/img/bg/project__bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section__title white-title mb-70">
                    <h2 class="title">Project we’ve done in very recent time</h2>
                    <h1 class="number">03</h1>
                </div>
            </div>
          
            <div class="col-lg-6 col-md-4">
                <div class="section__title Project-section mb-60">
                    <a href="contact.html" class="btn btn-two">View Our Services <img src="assets/img/icons/right_arrow.svg" alt="" class="injectable"></a>
                    <div class="project__nav">
                        <button class="project-button-prev"><i class="renova-left-arrow"></i></button>
                        <button class="project-button-next"><i class="renova-right-arrow"></i></button>
                    </div>
                </div>
                
            </div>


        </div>
        <div class="swiper project-active">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="project__item">
                        <div class="project__thumb">
                            <a href="project-details.html"><img src="assets/img/project/project_img01.jpg" alt="img"></a>
                        </div>
                        <div class="project__content">
                            <div class="content">
                                <h2 class="title"><a href="project-details.html">Registration at the Ministry of Trade (MOT) and the DMA</a></h2>
                                <span>December 2023 - March 2024</span>
                            </div>
                            <div class="project__icon">
                                <a href="project-details.html"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project__item">
                        <div class="project__thumb">
                            <a href="project-details.html"><img src="assets/img/project/project_img02.jpg" alt="img"></a>
                        </div>
                        <div class="project__content">
                            <div class="content">
                                <h2 class="title"><a href="project-details.html">Local employees, Deminers, Level 3 and level 4 EOD personals</a></h2>
                                <span>December 2023 - March 2024</span>
                            </div>
                            <div class="project__icon">
                                <a href="project-details.html"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project__item">
                        <div class="project__thumb">
                            <a href="project-details.html"><img src="assets/img/project/project_img02.jpg" alt="img"></a>
                        </div>
                        <div class="project__content">
                            <div class="content">
                                <h2 class="title"><a href="project-details.html">Demining equipment, mine clearance machines</a></h2>
                                <span>December 2023 - March 2024</span>
                            </div>
                            <div class="project__icon">
                                <a href="project-details.html"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project-area-end -->
<section class="faq__area section-py-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="section__title mb-70">
                            <h2 class="title">We are Expert in those industry</h2>
                            <h1 class="number">04</h1>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="faq__img wow img-custom-anim-left animated"  data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <img src="assets/img/images/faq_img.jpg" alt="img">
                            <div class="faq__img-content">
                                <h5 class="title">Leveraging our deep consulting expertise <br>& using analytical rigor</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq__wrap">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            WHAT DOES UIB SWISS DO?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>We help entrepreneurs get ready to raise capital, start a new business, registration in Iraq, China and Switzerland.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            WHAT IS THE PROCESS OF GETTING THE CONSULTING SERVICE?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>After leaving the website request, you will be contacted by a manager within 24 working hours. Next step is arranging a meeting  (or phone/skype call) for free 30-minutes consultation. After discussing all the necessary questions and further steps, you will be provided a quote from the specialist.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            HOW THE CONSULTANT WILL WORK WITH ME?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>For every client, we create a flexible and convenient schedule for meetings or calls. Usually, it is standard working hours (8am-5pm) from Monday till Friday. Also, in exceptional cases, the weekends could work.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            WHAT I WILL GET IN THE END?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>We provide all the information for making the right decisions in business. The result of our service is a solved problem for the client.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                                            COULD I GET A FREE CONSULTATION?
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Yes, you could book 30 minutes free consultation to know more about our process and discuss your business case.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- consultation-area -->
        <section class="consultation__area grey-bg section-py-120">
            <div class="container">
                <div class="row align-items-center justify-content-center">

                    

                    <div class="col-lg-7">
                        <div class="section__title mb-40 img-custom-anim-top animated" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <h2 class="title">Your Trusted Partner in Consultation Services</h2>
                        </div>
                        <div class="consultation__img img-custom-anim-right animated" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <img src="assets/img/images/history_img01.jpg" alt="img" class="wow">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="consultation__form-wrap">
                            <h2 class="title">Schedule free consultation</h2>
                            <form action="#" class="consultation__form">
                                <div class="form-grp">
                                    <label for="name">Enter your full name*</label>
                                    <input type="text" id="name">
                                </div>
                                <div class="form-grp">
                                    <label for="email">Your email address*</label>
                                    <input type="email" id="email">
                                </div>
                                <div class="form-grp">
                                    <label for="number">Your phone number*</label>
                                    <input type="number" id="number">
                                </div>
                                <div class="form-grp select-grp">
                                    <label for="select">Which Service are you looking for?</label>
                                    <select name="select" id="select" class="orderby">
                                        <option value="Select your subject">Select a Service</option>
                                        <option value="Subject One">Project Management</option>
                                        <option value="Subject One">Business Consulting</option>
                                        <option value="Subject Two">Demining Consulting</option>
                                        <option value="Subject Three">Security Consulting</option>
                                        <option value="Subject Four">Energy & Oil Consulting </option>
                                        <option value="Subject Four">Transport & Logistics Consulting</option>
                                    </select>
                                </div>
                                <div class="form-grp">
                                    <label for="message">Write your message</label>
                                    <textarea name="message" id="message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-two">Get your free quote</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- consultation-area-end -->

        <!-- blog-post-area -->
        <section class="blog__post-area-four section-pt-120 section-pb-90">
            <div class="container">
                <div class="row justify-content-center gutter-24">
                    <div class="col-lg-4">
                        <div class="blog__post-content-four">
                            <div class="section__title section__title-three mb-20">
                                <span class="sub-title">Our BLog Posts</span>
                                <h2 class="title">Latest Articles</h2>
                            </div>
                            <p>Sociis dapibus imperdiet sapien vehicula risus nec odio ultrices, pharetra tristique ultricies dui augue litora semper conubia, sodales felis aliquam.</p>
                            <a href="blog.html" class="btn border-btn">View All Posts</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog__post-item shine__animate-item">
                            <div class="blog__post-thumb">
                                <a href="blog-details.html" class="shine__animate-link">
                                    <img src="assets/img/blog/blog_img02.jpg" alt="img">
                                </a>
                            </div>
                            <div class="blog__post-content">
                                <div class="blog__post-meta">
                                    <ul class="list-wrap">
                                       
                                        <li>03 January, 2024</li>
                                    </ul>
                                </div>
                                <h4 class="title"><a href="blog-details.html">Comprehensive Look at Foundation
                                Types and Construction</a></h4>
                                <a href="blog-details.html" class="btn">Read Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog__post-item shine__animate-item">
                            <div class="blog__post-thumb">
                                <a href="blog-details.html" class="shine__animate-link">
                                    <img src="assets/img/blog/blog_img03.jpg" alt="img">
                                </a>
                            </div>
                            <div class="blog__post-content">
                                <div class="blog__post-meta">
                                    <ul class="list-wrap">
                                        <li>03 January, 2024</li>
                                    </ul>
                                </div>
                                <h4 class="title"><a href="blog-details.html">Building a Culture of Construction Site Safety and Compliance</a></h4>
                                <a href="blog-details.html" class="btn">Read Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-post-area-end -->
                


    </main>
    <!-- main-area-end -->



    <!-- footer-area -->
    <footer class="footer__area">
        <div class="container">
           
            <div class="footer__top">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                        <div class="footer__widget">
                            <div class="footer__logo">
                                <a href="index.html"><img src="assets/img/logo/uib-logo-title.svg" alt="logo"></a>
                            </div>
                            <div class="footer__content">
                                <p>Our company was founded on the idea of helping those doing business between China, Middle East, and EU.</p>
                            </div>
                            <div class="footer__social">
                                <ul class="list-wrap">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-3 col-sm-4">
                        <div class="footer__widget">
                            <h4 class="footer__widget-title">Main Pages</h4>
                            <div class="footer__widget-link">
                                <ul class="list-wrap">
                                    <li>
                                        <a href="about.html"><i class="renova-right-arrow"></i><span>About</span></a>
                                    </li>
                                    <li>
                                        <a href="contact.html"><i class="renova-right-arrow"></i><span>Services</span></a>
                                    </li>
                                    <li>
                                        <a href="services.html"><i class="renova-right-arrow"></i><span>Projects</span></a>
                                    </li>
                                    <li>
                                        <a href="team.html"><i class="renova-right-arrow"></i><span>News</span></a>
                                    </li>
                                    <li>
                                        <a href="contact.html"><i class="renova-right-arrow"></i><span>Contact Us</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h4 class="footer__widget-title">Services</h4>
                            <div class="footer__widget-link">
                                <ul class="list-wrap">
                                    <li>
                                        <a href="services.html"><i class="renova-right-arrow"></i><span>Business Consulting</span></a>
                                    </li>
                                    <li>
                                        <a href="services.html"><i class="renova-right-arrow"></i><span>Demining Consulting</span></a>
                                    </li>
                                    <li>
                                        <a href="services.html"><i class="renova-right-arrow"></i><span>Security Consulting</span></a>
                                    </li>
                                    <li>
                                        <a href="services.html"><i class="renova-right-arrow"></i><span>Energy & Oil Consulting</span></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="footer__widget">
                            
                            <div class="footer__widget-link">
                                <ul class="list-wrap">
                                    <li>
                                        <a href="about.html"><i class="renova-right-arrow"></i><span>Travel & Aviation Consulting </span></a>
                                    </li>
                                    <li>
                                        <a href="appointment.html"><i class="renova-right-arrow"></i><span>Transport & Logistics Consulting</span></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="footer__widget">
                            <div class="footer__logo text-center">
                                <a href="index.html"><img class="right-logo" src="assets/img/logo/uib-logo.svg" alt="logo"></a>
                            </div>
                          
                            
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="footer__bottom footer__bottom-two">
                <div class="row align-items-center">
                        <div class="copyright-text text-center">
                            <p>© 2024 UIB. All Rights Reserved</p>
                          
                        </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->




    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.odometer.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery.marquee.min.js"></script>
    <script src="assets/js/tg-cursor.min.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/svg-inject.min.js"></script>
    <script src="assets/js/tween-max.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        SVGInject(document.querySelectorAll("img.injectable"));
    </script>
</body>

</html>